.*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  background-color:  blue;
  font-family: 'Lobster', cursive;
  color: white;
}

.card-highlight{
  min-height: 100%;
}

.courseCard{
  min-width: 100%;
}